@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-text;
  font-family: 'Poppins', sans-serif;
}
body{
  display: block;
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(162,0,255,1) 100%);
}

.heading {
  text-align: center;
  font-weight: 100;
  font-family: 'Chewy', cursive;
  font-size: 55px;
  border-bottom: 5px solid #5b5e5b;
  background-color: rgb(158, 168, 159,0.3);
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-fluid .one{
  margin-top: 30px;
  
}
.container-fluid .two,.three{
  margin-top: 30px;
}
.container-fluid .four,.five,.six{
  margin-top: 30px;
}